# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

./fariance/src/main/resources
./fabric/src/main/resources

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.pyc

# Files from Forge MDK
forge*changelog.txt
